body{
    padding: 0;
margin: 0;
box-sizing: border-box;
background-image: url(netflix2.jpg);
background-size:cover;
background-position: center;
height: 100vh;
color:white ;
position: relative;
}
.box{
    width: 100%;
    height: 100%;
    padding:10px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo .log{
    margin-left: 140px;
}
.lang{
    display: flex;
    gap: 5px;
    margin-right: 200px;
    border: 1px;
        
}
select{
    border-radius: 4px;
    font-size: 15px;  
    cursor: pointer;
    font-size: 20px;
    width: 120px;
    height: 32px;
    font-weight: bold;
}
.first{
    border: none;
    color: white;
    background-color: red;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    height: 32px;
    font-size: 20px;
    font-weight: bold;
}
.center-content{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
}
.center-content h1{
font-weight: bold;
}
.center-content p{
    font-size: 20px;
    margin-top: 0px;
}
.email{
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}
.email input{
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}
.email .start{
    width: 200px;
    height: 42px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    font-size:22px ;
    cursor: pointer;
}
.made{
    margin-left: 10px;
    font-size: 10px;
}